@inherits LayoutComponentBase

@inject JD.CTC.Shared.Interfaces.IUsuarioLogado usuarioLogado

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <span class="mgrt10"><span class="bold dgrey">Usuário:</span> @context.User.Identity.Name</span>&nbsp;&nbsp;-&nbsp;&nbsp;
                <span class="mgrt10"><span class="bold dgrey">Perfil:</span> @perfil</span>
                <a href="account/logout">Sair</a>
            </Authorized>

            <NotAuthorized>
                <span><a href="account/autenticar">Entrar</a></span>
            </NotAuthorized>
        </AuthorizeView>      
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    private string perfil;

    protected override async Task OnInitializedAsync()
    {
        if (await usuarioLogado.IsAuthenticated())
        {
            perfil = await usuarioLogado.Role();
        }
    }

}